<footer>
    <div>
        <p>Made for Leetcode❤️</p>
    </div>
    <div>
        <a href="https://www.linkedin.com/in/shourya-sahu-b5310b242/">
            <img src="../res/linkedin.png" alt="icon" width="32px">
        </a>
        <a href="https://www.linkedin.com/in/shourya-sahu-b5310b242/">
            <img src="../res/linkedin.png" alt="icon" width="32px">
        </a>
        <a href="https://leetcode.com/shourya0/">
            <img src="../res/leetcode.png" alt="icon" width="32px">
        </a>
    </div>
</footer>