<footer class="foot">
    <div class="foottext">
        <p>Made for Leetcode❤️</p>
    </div>
    <div class="footlink">
        <a href="https://www.linkedin.com/in/shourya-sahu-b5310b242/"  target="_blank">
            <img src="../res/linkedin.png" alt="icon" width="32px">
        </a>
        <a href="https://www.linkedin.com/in/shourya-sahu-b5310b242/" target="_blank">
            <img src="../res/linkedin.png" alt="icon" width="32px">
        </a>
        <a  href="https://leetcode.com/shourya0/" target="_blank">
            <img src="../res/leetcode.png" alt="icon" width="20px">
        </a>
    </div>
</footer>