<div class="maincnt">
    <div class="middle">
        <p class="typed">welcome to leethelp (❁´◡`❁) </p>
        <p class="para">
            We have resources that could help you in your leetcoding
            journey. Have fun! :-D
        </p>
        <p class="para">
            You could navigate through the sidebar as well as through the nagivation bar at top.
        </p>
    </div>
</div>