<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leethelp</title>
    <link rel="stylesheet" href="/public/footer.css">
    <link rel="stylesheet" href="/public/home.css">
    <link rel="stylesheet" href="/public/nav.css">
    <link rel="stylesheet" href="/public/sidebar.css">
</head>
<body>
    <%- include('navbar') %>
    <%- include('sidebar') %>
    <%- include('home.ejs') %>
    <%- include('footer.ejs') %>
    <script src="../public/sidebar.js" type="text/javascript" defer></script>
</body>
</html>