<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/nav.css">
</head>
<body>
    <nav class=" nav ">

        <div class="navcntl">
        <a clas="ic" href="#" target="_blank">
            <img id="icon" src="/res/leetcode.png" alt="icon" srcset="">
        </a>
    </div>
        
    
        <div class="navcntc">
        
        <a class="hdpostion hd1" href="#" target="_blank" >block1</a>
        <a class="hdpostion" href="#" target="_blank" >block2</a>
        <a class="hdpostion"  href="#" target="_blank" >block3</a>
        <a class="hdpostion" href="#" target="_blank" >block4</a>
        <a class="hdpostion bl5" href="#" target="_blank" >block1</a>

    </div>

    

    </nav>
</body>
</html>