<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tool</title>
    <link rel="stylesheet" href="/public/tool1.css">
</head>
<body>

<div class="maincnt">





<div class="toolnav">
    
    <select name="tools" id="select-tool">
        <option value="">Select</option>
    <option value="Change">Change</option>
    <option value="next">next</option>

    </select>

    <button type="button"id="addcng" style='font-size:34px; color: white;'>	&plus;</button>



</div>




<div class="intcng">
    <div style="
    margin-left: 64px;
">
    <input class="intsize" type="text" name="strcng" id="">
    <span>To</span>
    <input class="intsize"  type="text" name="" id="">
</div>


</div>





<div class="in-out-cnt">




<div class="intputstr">
<form action="">
<label for="str"

style="    font-size: 32px;
margin-left: 32px;
font-family: 'Courier New', Courier, monospace;
 "

>Input :</label>
<!-- <input type="text"  name="" id="strint"> -->
<textarea name="strInput" id="strint" cols="30" rows="10"></textarea>
<br>
<button type="submit" id="btn-input-str" >submit</button>


</form>
</div>
<div class="outputstr">
    <label for="strout">
        Output :
    </label>
    <section id="output">

    </section>

</div>


<button type="submit" id="str-output">Output</button>




</div>




     
</div>

    
</body>
</html>