.foot {
    background-color: rgb(175, 175, 175);
    height: 30%;
    border: 1px solid rgba(35, 35, 35, 0.1);
    border-radius: 0 0 16px 16px;
    margin: 0%;
}

.foottext {
    height: 65%;
    background-color: rgba(100, 100, 100, 0.3);
    text-align: center;
    line-height: 8;
}

.foottext p {
    margin: 0%;
    color: rgb(60, 60, 60);
}

.footlink {
    text-align: center;
    line-height: 5;
}