.sidebar {
    width: 200px;
    display: flex;
    background: linear-gradient(180deg, rgb(35, 35, 35), rgb(80, 80, 80));
    float: left;
    box-shadow: 8px 0px 20px 1px rgb(30, 30, 30);
    transition: 1s;
    height: 88vh;
}

.sidebar.closed {
    margin-left: -160px;
    border-radius: 0 0 0 0;
}

#home-text-sidebar {
    background-color: rgba(30, 30, 30, 0.1);
    margin: 0%;
    padding: 20px 20px;
    padding-left: 20px;
}

.right {
    background-color: rgba(125, 125, 125, 0.3);
    width: 40px;
    border: 0 0 5px 0 solid;
}

.right.closed1 {
    border-radius: 0 0 0 0;
}

#close {
    float: right;
    background-color: transparent;
    border: 0px;
    color: #fff;
    font-size: 20px;
    margin-top: 16px;
    margin-right: 8px;
}

#close:hover {
    background-color: rgba(200, 200, 200, 0.7);
    border-radius: 50px;
}

.buttons {
    display: block;
    width: 160px;
}

.buttons a {
    display: inherit;
    padding: 5px;
    padding-left: 20px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.buttons a:hover {
    background-color: rgba(200, 200, 200, 0.7)
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: rgba(255, 255, 255, 0.7);
}