
body{
    margin: 0%;
    background-color: antiquewhite;
}
.maincnt{
    height: 98vh;
    background-color: antiquewhite;
}
.toolnav{
    background-color: rgb(178, 148, 148);
    height: 60px;
    border-radius: 20px;
    margin-top: 77px;

}
#select-tool{
    margin: 15px;
    margin-left: 102px;
    width: 88px;
    height: 30px;
    border-radius: 11px;
}
#addcng{
    font-size: 34px;
    float: right;
    margin: 9px;
    margin-right: 66px;
    border-radius: 50%;
    background-color: #5f5b5b;
    border: 1px solid #373535;
}
.intcng{
    margin-top: 61px;
    width: 34%;
    height: 100px;
    background-color: #726b6b;
    border-radius: 10px;
}
.intsize{
    width: 89px;
    height: 46px;
    border-radius: 14px;
    border: 1px solid black;
    margin-top: 26px;
}

.intputstr{
    width: 50%;
    height: 30vh;
    float: left;
    background-color: #373535;
}
.outputstr{
    width: 50%;
    height: 30vh;
    float: right;
    background-color: #997575;
}
.in-out-cnt{
    margin-top: 81px;
}
#strint{
    margin-top: 31px;
    width: 272px;
    height: 84px;
    border-radius: 28px;
    margin-left: 41px;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
}
#btn-input-str{
    margin-top: 49px;
    float: right;
    margin-right: 125px;
    width: 77px;
    height: 29px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}
#str-output{
    margin-top: 53px;
    float: right;
    margin-right: 96px;
    width: 66px;
    height: 29px;
    border-radius: 10px
}