.foot {
    background: linear-gradient(180deg, rgb(35, 35, 35), rgb(80, 80, 80));
    border: 1px solid rgba(35, 35, 35, 0.1);
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 -12px 15px 5px rgba(35, 35, 35, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 99.9vw;
}

.foottext {
    height: 65%;
    background-color: rgba(100, 100, 100, 0.3);
    text-align: center;
    line-height: 5;
}

.foottext p {
    margin: 0;
    color: rgb(255, 255, 255, 0.7);
    text-decoration: none;
}

.footlink {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 8px;

}